.bookCard {
  max-width: 200px;
  margin: auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.bookCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.bookCardImageContainer {
  width: 100%;
  height: 250px; /* Adjusted height for the image container */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5; /* Optional: Add a background color */
}

.bookImage {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* Ensure the image maintains its aspect ratio */
  transition: transform 0.2s ease; /* Smooth zoom effect */
}

.bookCard:hover .bookImage {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.bookContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bookTitle {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.1rem; /* Slightly larger title font size */
}

.bookAuthor {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 1rem; /* Adjust author font size */
}

.bookGenre {
  color: #757575;
  margin-bottom: 8px;
  font-size: 0.9rem; /* Adjust genre font size */
}

.bookOwner {
  color: #757575;
  margin-bottom: 16px;
  font-size: 0.9rem; /* Adjust owner font size */
}

.bookSwapButton {
  margin-bottom: 8px;
  text-transform: none; /* Ensure the button text is not all caps */
}
