.bookPage {  
  padding: 20px;  
}  
  
.bookImage {  
  width: 100%;  
  max-width: 300px;  
  margin-bottom: 20px;  
}  
  
.swapButton {  
  width: 100%;  
  margin-bottom: 10px;  
}  
  
.messageOwner {  
  margin-bottom: 10px;  
}  
  
.ownerSection {  
  margin-bottom: 20px;  
}  
  
.ownerAvatar {  
  width: 50px;  
  height: 50px;  
  border-radius: 50%;  
  margin-right: 10px;  
}  
  
.ownerName {  
  margin-right: auto;  
}  
  
.messageButton {  
  text-transform: none;  
}  
  
.bookTitle {  
  font-weight: bold;  
  margin-bottom: 10px;  
}  
  
.bookAuthor {  
  margin-bottom: 10px;  
  font-weight: bold;  
}  
  

  
.bookDescription {  
  white-space: pre-wrap;  
}