.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #cfd2d4;
  border-bottom: 1px solid #e9ecef;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
}

.avatarImg {
  position: absolute;
  left: 90%;
  width: 10%;
  height: 10%;
}