.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #cfd2d4;
  border-bottom: 1px solid #e9ecef;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
}

.avatarImg {
  position: absolute;
  height: 10%;
  top: 15px;
}

.navbar {
  display: flex;
  gap: 1.5rem;
  margin-right: 7%;
}

.navbar a {
  color: #010810;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

