.container {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheading {
  font-size: 2rem;
  margin-bottom: 5px;
  text-align: center;
}

.tag {
  font-size: 1.5rem;
  margin-top: 0px;
  text-align: center;
}

.homepageImg {
  border-radius: 10px;
  width: 100%;
  max-height: 500px;
  max-width: 750px;
  margin: 0 auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  box-sizing: border-box;
}

.orderList {
  font-size: 1.5rem;
  margin-top: 0px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.flexItem {
  flex: 1;
  max-width: 50%;
}

.tag {
  margin: 0;
}

@media (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }

  .flexItem {
    max-width: 100%;
  }
}

.bookCard {
  display: grid;
  gap: 1.5rem;
  padding: 16px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.cardImage {
  width: 100%;
  padding: 1rem;
  height: 450px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 10%;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

.bookCard h2 {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .bookCard {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (min-width: 900px) {
  .bookCard {
    grid-template-columns: repeat(3, 1fr);
  }
}

